/* Buttons */

.btn {
    padding: 1rem 2rem;
    border-radius: 32px;
    display: inline-block;
    text-align: center;
    transition: $transition;
    border: none;
    cursor: pointer;
    &--primary {
        background-color: $primary-color;
        color: $white;
    }

    &:hover {
        background-color: darken($primary-color, 20%);
    }
}

