/* Card Contacto */

.card-contacto {

    max-width: 600px;
    background-color: $white;
    padding: 4rem 3rem;
    margin: auto;
    border-radius: 1rem;
    transition: $transition;

    img{
        max-width: 80px;
        margin-bottom: 1rem;
    }

    h1{
        color: $primary-color;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        display: flex;
        gap: 1rem
    }

    .btn {
        width: 200px;
    }

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

}