/* Footer */

footer {
    padding: 4rem 2rem;
    color: rgba(255,255,255,.8);
    background-color: #225497;
    
    

    .pregunta-footer {
        display: block;
    }

    h3 {
        font-size: 18px;
        text-align-last: center;
        font-weight: 700;
        // margin-bottom: 2rem;
    }

    .email {
        text-align: center;
        
    }
    
}

.footer-menu {
    height: 150px;
    background-image: url(../images/design/logo-falp.svg);
    background-repeat: no-repeat;
    background-size: 50%;

    background-position: 0 bottom;
}

.gotoinit {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: $primary-color;
    border-radius: 20px;
    bottom: 1rem;
    right: 0;
    display: none;

}

@include mq($breakpoint-md)  {
    footer {
    background-image: url(../images/design/logotipo-b.svg);
    background-repeat: no-repeat;
    background-position: 80% center;
        h3 {
            font-size: 2rem;
            text-align-last: left;
        }
        .email {
            font-size: 1.4rem;
            text-align: left;
        }
    }
}