/* Forms */

.form-group {
    display: block;
    margin-bottom: 0.5rem;

    input {
        width: 100%;
        padding: 1.2rem 1rem;
        border: 2px solid #5E5384;
        border-radius: .5rem;
        font-size: 1rem;
    }

    label {
        font-weight: 700;
        font-size: .8rem;
        color: #5E5384;
        margin-bottom: 1rem;
        display: block;
        text-transform: uppercase;
    }

    ::placeholder {
        color: #999;
        font-size: 1rem;
        font-weight: 500;
      }

      .btn {
        margin-top: 2rem;
      }
      &.success {
        input {
            border-color: #1DA70C;
        }
      }
      &.error {
        input {
            border-color: #F42534;
        }
        small {
            visibility: visible;
            height: 35px;
        }
      }
      small {
          color: #F42534;
          visibility: hidden;
          padding: 0.5rem 0;
          display: block;
          height: 0;
          transition: $transition;
      }
}



@include mq($breakpoint-md) {

    .form-group {
        
        label {
            font-size: 1rem;
        }
        ::placeholder {
            color: #999;
            
            font-weight: 500;
          }
    }
}