/* Header */

header {
    // padding: 2rem;
    //width: 100%;
    
    // background-color: $body-background-color;
    position: fixed;
    
    transition: all 300ms ease-in-out;
    z-index: 1;
    display: block;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255, .8);
    // top: 1rem;

    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding: .5rem 2rem;
    }
}

.brand {
    background-image: url(../images/design/isotipo.svg);
    height: 46px;
    width: 62px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
    transition: $transition;
}

.falp {
    width: 100px;
    height: 60px;
    background-image: url(../images/design/logo-falp.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    
}

.btn--menu {
    background-image: url(../images/design/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    width: 48px;
    height: 30px;
    margin-left: auto;
}

.btn--close {
    background-image: url(../images/design/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    opacity: 0;
    transition: all 1s ease-out;
  }

.menu {
    
    height: 100vh;
    width: 100vw;
    max-width: 375px;
    position: fixed;
    background-color: $body-background-color;
    z-index: 3;
    padding: 2rem 5.125rem;
    right: -375px;
    top: 0;
    transition: all .5s ease-out;
    //display: none;
    
    .legend-nav {
        font-weight: 500;
        font-size: 14px;
        color: $medium-gray;
        margin-top: 4rem;
        margin-bottom: 1rem;
        display: block;
    }

    .enlace-menu {
        color: $primary-color;
        text-decoration: underline;
        font-size: 1rem;
    }

    .btn--close {
        position: absolute;
        right: 2rem;
        top: 2rem;
    }
}

.menu.open {
    right: 0;
    //left: 0;
}

.overlay.show {
    display: block;
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

.footer-menu {
    font-size: 14px;
    font-weight: 500;
    color: $medium-gray;
    small {
        margin-top: 4.75rem;
        display: block;
    }
}

.lista-menu {
    display: flex;
    flex-direction: column;
    a {
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 2rem;
        font-weight: 500;
        &:hover {
            text-decoration: underline;
        }
    }
}

.scroll-up header {
    //background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-color: rgba(255,255,255,.5);
}


.scroll-down header {
    // transform: translate3d(0, -20%, 0);
    
    //background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background-color: rgba(255,255,255,1);
    // padding-bottom: 0;

    .brand {
        // width: 33px;
    }
    
}

@include mq($breakpoint-md) {


    header {
        background-color: transparent;
        .inner-header {
            
            width: 100%;
            max-width: 1600px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1440px;
            
        }

    }

    .brand {
        background-image: url(../images/design/logo.svg);
        height: 66px;
        width: 268px;
        background-repeat: no-repeat;
        margin-right: auto;
    }

    .falp {
        display: block;
    }

    .menu.open {
        left: auto;
    }
}