/* Loader */

.loader {
    display: flex;
    position: absolute;
    z-index: 10000;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
  
  }
  
  .loader img {
      width: 120px;
      animation: heart-pulse 2s infinite ease-out;
  }
  
  .loader.hidden {
    -webkit-animation: fadeOut 1s;
            animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  
@-webkit-keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes heart-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }