/* Persona */

.persona {
    width: 290px;
    height: 390px;
    position: relative;
    border-radius: 2rem;
    cursor: pointer;
    margin: auto;
    margin-bottom: 2rem;

    /* img {
        filter: grayscale(100%);
        object-fit: cover;
    } */

    .nombre-persona {
        font-size: 18px;
        opacity: 0;
    }

    .cargo-persona {
        opacity: 0;
    }

    .profesion-persona {
        opacity: 0;
    }

    .linkedin-persona {
        width: 66px;
        height: 66px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #225497;
        background-image: url(../images/design/linkedin.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 1rem;
        transition: $transition;
        cursor: pointer;

        &:hover {
            background-color: $primary-color;
        }
    }
    &:hover {
        .data-persona {
            
            animation: scale-in-center .3s forwards ease-out;
        }
        .nombre-persona {
            opacity: 1;
            font-size: 18px;
            font-weight: 800;
            
        }
    
        .cargo-persona {
            opacity: 1;
            font-size: 14px;
            margin-bottom: 1rem;
        }
    
        .profesion-persona {
            opacity: 1;
            font-size: 12px;
        }
    }
}

.inner-persona {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: grayscale(100);
    background-position: center;
    transition: $transition;
    &.inti {
        background-image: url(../images/content/equipo/inti.jpg);
    }
    &.sergio {
        background-image: url(../images/content/equipo/sergio.jpg);
    }
    &.marcela {
        background-image: url(../images/content/equipo/marcela.jpg);
    }
    &.nicolas {
        background-image: url(../images/content/equipo/nicolas.jpg);
    }
    &.matias {
        background-image: url(../images/content/equipo/matias.jpg);
    }
    &.rodrigo {
        background-image: url(../images/content/equipo/rodrigo.jpg);
    }
    &.mario {
        background-image: url(../images/content/equipo/persona.svg);
    }
    &:hover {
        background-color: rgba(0,0,0,.5);
        filter: none;
    }
}

.data-persona {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(71,63,98,.8);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    // transition: $transition;
    color: #FFF;
}

.inner-persona.active .data-persona {
    width: 100%;
    height: 100%;
}

/* Animations */

.fade-in {
	
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-in-center {
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  /**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
