/* Hero */

.cont-hero {
    /* background-image: url(../images/design/1440.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    min-height: 100vh;
    &.contacto {
        h1 {
            font-size: 2rem;
            font-weight: 900;
        }

        .hero {
            justify-content: start;
            .btn {
                margin-top: 2rem;
            }
        }
    }
    
}

.hero {
    height: 100vh;
    max-width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    
    h1 {
        font-size: 2.5rem;
        color: $secondary-color;
        small {
            display: block;
            color: $primary-color;
            font-weight: 300;
        }

        img {
            display: inline-block;
            width: 50px;
        }
    }

    p {
        font-size: 1.4rem;
        color: $medium-gray;
        margin-top: 1rem;
    }

    strong {
        color: $secondary-color;
        
    }

    .btn {
        width: 204px;
        margin-top: 4rem;
    }
    
}

@include mq($breakpoint-md) {

    .cont-hero {
        &.contacto {

            padding-top: 10rem;
    
            .hero {
                .btn {
                    margin-top: 4rem;
                }
            }
        }
    }
    
    .hero {
        margin-top: 4rem;
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}

@include mq($breakpoint-lg) {
    .cont-hero {
        background-image: url(../images/design/1920.jpg);
        background-position: center 85%; 
        padding-top: 4rem;
        &.contacto {
            h1 {
                font-size: 2.4rem;
                
            }
        }     
    }

}