/* Partners */

.cont-partners {
    
}


.partners {
    display: flex;
   
    
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    flex-wrap: wrap;
    margin: 4rem auto;
    gap: 1rem;
    
    
}


.partner {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: $white;
    border: 1px solid #DDD;
    width: 200px;
    height: 200px;
    margin: 0.5rem 0;
    img {
        width: 100%;
    }
}

@include mq($breakpoint-md) {
    .cont-partners {
        margin-bottom: 200px;
    }
    

    .partner {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        background-color: transparent;
        border: none;
        width: 200px;
        height: 200px;
        margin: 0.5rem 0;
        img {
            width: 100%;
        }
    }
}

@include mq($breakpoint-lg) {
    .partners {
        justify-content: space-between;
    }
}