/* Process */

.process {
    background-color: #dbdbdb;
    // height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/design/fondo-proceso.svg);
    background-repeat: no-repeat;
    background-position: right 100px;
}

.numero-proceso {
    font-size: 126px;
    font-weight: 900;
    color: #88A1C2;
}

.text-proceso {
    font-size: 1rem;
    line-height: 22px;
}

.desc-proceso {
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 1rem;
    //border: 2px solid transparent;
    border-radius: 1rem;
    margin: auto .5rem;
    transition: all .3s ease-out;
    padding: 1rem;
    background-color: transparent;
}

.cont-proceso {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // max-width: 1200px;
    width: 100%;
    flex-direction: column;
}


.icono-proceso {
    margin-top: 3rem;
    height: 194px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      position: absolute;
    }
}

.paso {
  cursor: pointer;
  &:hover {
    .desc-proceso {
      // border: 2px solid $primary-color;
      background-color: rgba(94,83,192,.1);
    }
  }
}

.paso-1 {
  &:hover {
    .icon-process1 {
      animation: rotate-center 20s linear infinite both;
    }

    .icon-process2 {
      
      animation: heartbeat 5s ease-in-out infinite both;
    }
  }
}


.paso-2 {
  &:hover {
    .icon-process1 {
      animation: rotate-center 10s linear infinite both;
    }

    .icon-process2 {
      animation: rotate-center 20s linear infinite reverse both;
    }
  }
}

.paso-3 {
  &:hover {
    .icon-process1 {
      animation: rotate-scale-up 10s linear infinite both;
    }

    .icon-process2 {
      animation: jello-horizontal 0.9s infinite both;
    }
  }
}

 


/* Animation process */

.rotate-center {
	-webkit-animation: rotate-center 20s linear infinite reverse both;
	        animation: rotate-center 20s linear infinite reverse both;
}

.rotate-center-flecha {
	-webkit-animation: rotate-center 10s linear infinite both;
	        animation: rotate-center 10s linear infinite both;
}


.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}


.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s infinite both;
	        animation: jello-horizontal 0.9s infinite both;
}


.rotate-scale-up {
	-webkit-animation: rotate-scale-up 10s linear infinite both;
	        animation: rotate-scale-up 10s linear infinite both;
}


/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }



/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}


/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}


/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}


@include mq($breakpoint-md) {
  .cont-proceso {
    flex-direction: row;
  }

  .icono-proceso {
    margin-top: 6rem;
    height: 194px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}