/* Question */

.question {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #f1f1f1;
    
}

.pregunta {
    text-align: center;
    max-width: 818px;
    margin: auto;
    p {
        margin: 4rem 0;
        margin-top: 2rem;
        color: #333;
    }
    .btn {
        width: 260px;
    }
}

.titulo-pregunta {
    /* font-size: 3rem; */
    font-size: 24px;
    color: $secondary-color;
}

.subtitulo-pregunta {
    display: block;
    font-size: 1rem;
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 24px;
    display: none;
}

@include mq($breakpoint-md) {
    .titulo-pregunta {
        font-size: 3rem;
    }

    .pregunta {
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p {
            font-size: 24px;
        }
    }
}