/* Request */

.request {
    padding: 0;
}

.cont-solicitudes {
    display: flex;
   flex-direction: column;
}

.solicitud {
    width: 100%;
    background-color: #2C1D5F;
    padding: 4rem 2rem;
    text-align: center;
    color: $white;

    .btn {
        width: 260px;
    }

    .enunciado {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    &.inverse {
        background-color: #5E5384;
        .btn {
            background-color: #2C1D5F;
        }
    }
    &:first-child {
        display: none;
    }
}

@include mq($breakpoint-md) {
    .cont-solicitudes {
        flex-direction: row;
    }

    .solicitud {
        padding: 6rem 2rem;
        .enunciado {
            font-size: 1.5rem;
            width: 360px;
            margin: auto;
            margin-bottom: 2rem;
        }
    }
}