/* Solutions */

.solutions {
    // background: linear-gradient(180deg, #FFFFFF 0%, #B7CBE7 100%);
    h2 {
        margin-bottom: 4rem;
    }
}


.cont-soluciones {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}

.solucion {
    width: 280px;
    background: linear-gradient(180deg, rgba(255,255,255,.7) 0%, rgba(183, 203, 231, 0) 100%);
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: $transition;

    img {
        height: 124px;
        margin: 56px auto;
    }

    &.topomorfo {
        .nombre-solucion {
            color: $primary-color;
        }
        .desc-solucion {
            color: $primary-color;
        }
    }

    &.oncotracer {
        .nombre-solucion {
            color: $secondary-color;
        }
        .desc-solucion {
            color: $secondary-color;
        }
    }

    &.oncosearch {
        .nombre-solucion {
            color: #F68017;
        }
        .desc-solucion {
            color: #F68017;
        }
    }

    &.oncotext {
        .nombre-solucion {
            color: #225497;
        }
        .desc-solucion {
            color: #225497;
        }
    }

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.nombre-solucion {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 700;
}

.desc-solucion {
    font-size: 1rem;
    margin-bottom: 1rem;
    strong {
        font-weight: 700;
    }
}

@include mq($breakpoint-md) {
    .cont-soluciones {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 5.25rem;
        max-width: 1200px;
    }

    .solutions {
        background-color: rgba(255,255,255,.3);
    }
}