/* Team */

.team {
    background-color: #e5e5e5;
}

.cont-equipo {
    max-width: 1200px;
}


@include mq($breakpoint-md) {
    .cont-equipo {
        //width: 1200px;
        
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 80px;
    }

    .team {
        
    }
}