/* Testimonios */

.testimony {
    background-image: url(../images/design/fondo-testimonios.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    .splide__arrow {
        display: none;
    }
}

.cont-testimony {
    color: $white;
    background-image: url(../images/design/quote.svg);
    background-position: 2% 0%;
    background-repeat: no-repeat;
    background-size: 33%;
    height: 100vh;
}

.slider-testimonios {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    p{
        line-height: 1.6;
    }
}

.testimonio {
    text-align: center;
    padding: 2rem 1rem;
    max-width: 340px;
    width: 100%;
    font-weight: 500;

    .nombre-testimonio {
        font-weight: 700;
        margin-top: 2rem;
        font-size: 1.4rem;
        small {
            display: block;
            font-size: 1rem;
        }
    }
}



@include mq($breakpoint-md)  {
    .testimony {
        background-position: center;
        p {
            font-size: 24px;
            line-height: 1.6;
            text-align: center;
        }
    }

    .cont-testimony {
        background-image: url(../images/design/quote.svg), url(../images/design/quotei.svg);
        height: 800px;
        background-position: 10% 10%, 90% 90%;
    }

    .slide {
        max-width: 800px;
    }
    .testimonio {
        max-width: 800px;
        width: 90%;
    }
}