/**
 * Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

/* @font-face {
  font-family: 'DINP-R';
  src: url("../fonts/DINPro-Regular.eot?") format("eot"),
  url("../fonts/DINPro-Regular.woff") format("woff"),
  url("../fonts/DINPro-Regular.ttf") format("truetype");
  font-style: normal;
}
 */