body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
    background-color: #B8CBE7;
    //background-color: $body-background-color;
    background-image: url(../images/design/1440.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }


  section {
    padding: 6rem 2rem;
  }

  .inner-section {
    max-width: 1440px;
    margin: auto;
  }

  .wrapper {
    width: 100%;
    // max-width: 1440px;
    margin: auto;
    overflow: hidden;
  }

main {
  // padding-top: 130px;
}

.titulo-seccion {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 2rem;

  strong {
    color: $secondary-color;
  }

  small {
    font-size: 12px;
    color: $medium-gray;
    display: block;
  }
}

@include mq($breakpoint-md) {
  body {
    /* background-image: url(../images/design/1440.jpg);
    background-position: center -400px; */
  }

  .inner-section {
    padding: 0 2rem;
  }

  section {
    padding: 12rem 2rem;
  }

  .titulo-seccion {
    font-size: 2rem;
    small {
      font-size: 1rem;
    }
  }
}
