/**
 * Variables
*/

/* Typography */


/* Breakpoints */

// Media Queries

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;



/* Paths */
/* Grid setup */
/* Colour palette */
$black: #111;
$white: #fff;
$light-gray: #f1f1f1;
$medium-gray: #666;

$body-background-color: #FDFDFD;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #FB7A08;
$link-color: #ec1f4e;

$primary-color: #5E5384;
$secondary-color: #2F80ED;
$primary-dark-color: #3C3454;
$secondary-dark-color: #225497;

/* Components */



/* Transition */

$transition: all .3s ease-out;
